# For performing any action
ALCHEMY_API_KEY="abcdefgh12345678abcdefgh12345678"

# For deploying the Gensyn Token (Testnet)
GENSYN_TOKEN_TIMELOCK_PROPOSER_TESTNET="0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"
GENSYN_TOKEN_RECIPIENT_TESTNET="0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"